In [23]:
'''
From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks'''
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [24]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [25]:
#1 Access "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [26]:
#2 Access 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [28]:
#3 Change "Mike" to "Rajat"
dict1["april_batch"]["student"]["name"]="Rajat"

In [29]:
dict1

{'april_batch': {'student': {'name': 'Rajat',
   'marks': {'python': 80, 'maths': 70}}}}

In [30]:
#4 Add ML = 80 and DL = 80 inside marks
dict1["april_batch"]["student"]["marks"]["ML"]=80
dict1["april_batch"]["student"]["marks"]["DL"]=80
dict1

{'april_batch': {'student': {'name': 'Rajat',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}